<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/favicon'); -%>
    <title>Corribirb Feeding Tracker</title>
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/stats.js"></script>
</head>

<body class="background">
    <div class="container">
        <div class="column full-page">
            <div class="row">
                <header>
                    <img src="img/corri-logo.png" alt="">
                </header>
            </div>
            <div class="row">
                <div class="column">
                    <div class="row">
                        <div class="tab tab-selected">Feedings</div>
                        <div class="tab">Weights</div>
                    </div>

                    <div id="feedings" class="column table">
                    <!-- document fragment-->
                    </div>
                    
                    <div id="weights" class="column table hidden">
                    <!-- document fragment-->
                    </div>
                    
                    <footer class="row table-footer">
                        <span id="footer-text"></span>
                    </footer>
                    <div id="back-button">Go back</div>
                </div>
            </div>
            <div class="row">
                <footer class="row">&copy;2021 Scruffy Minds Web Design</footer>
            </div>
        </div>
    </div>

    <script>
        const feedingData = <%- JSON.stringify(feedingData)%>;
        const weightData = <%- JSON.stringify(weightData)%>;
    </script>

</body>

</html>