@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=New+Tegomin&family=Space+Mono:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Kiwi Maru', serif;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    width: 90%;
    align-content: flex-end;
}

form {
    width: 100%;
}
h1 {
    font-family: 'New Tegomin', serif;
    font-size: 145%;
    text-align: center;
    transform: scaleY(1.5);
    z-index: -1;
}

header {
    margin: auto;
}

header img {
    display: block;
    margin: 0 auto 5px;
    width: 95%;
}

p {
    width: 85%;
    text-align: center;
    margin: 10px auto;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/corribirb.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.button {
    border: 1px solid #aaa;
    border-radius: 100px;
    background: linear-gradient(rgba(202, 202, 202, 0.90), rgba(121, 121, 121, 0.90));
    padding: 10px 60px;
    margin: 10px auto 30px;
    font-size: 130%;
    color: #222;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
}

.close-button img {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.container {
    position: relative;
    margin: auto;
    padding: 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    height: 100vh;
}

.counter {
    height: 180px;
    /* flex-grow: 1; */
}

.counter p {
    font-size: 300%;
    margin: 0 20px;
    color: #aaa;
}

.fenster {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    padding: 10px;
    width: 95% !important;
    background-color: rgba(230, 230, 230, 0.9);
    color: #000;
    border-radius: 15px;
    /* flex: 1; */
}

.fenster>* {
    margin: 15px auto;
}

.flex-start {
    justify-content: flex-start;
}

.full-page {
    height: 90%;
    justify-content: space-around;
}

.hidden {
    display: none !important;
}

.instructions {
    margin: auto !important;
    text-align: center;
}

.main-menu {
    align-self: flex-start;
    height: 50vh;
}

.mls-selected {
    background-color: #489b48a9 !important;
    color: #fff;
    /* transition: color .1s, background-color .1s; */
}

.selected {
    background-color: #489b48a9 !important;
 }

.tenths-section {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    width: 88%;
    background-color: rgba(230, 230, 230, 0.945);
    color: #000;
    border-radius: 15px;
    flex: 1;
}

.tenths-section h1 {
    margin: 5px auto 25px;
}

.tenth-button {
    background-color: rgb(219, 219, 219);
    margin: 10px 10px;
    height: 65px;
    width: 65px;
    border: 1px solid #000;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-size: 180%;
}

.option {
    background-color: #489b48e7;
    border-radius: 100px;
    margin: 18px;
    padding: 15px;
    width: 90%;
}

.option p {
    margin: auto;
    padding-bottom: 5px;
    font-size: 160%;
}

.num-pad {
    margin-bottom: 10px;
}

.row {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}


#minus,
#plus {
    width: 50px;
}

#count-button {
    border: 1px solid red;
    background-color: red;
    border-radius: 175px;
    margin: auto;
    font-size: 400%;
    width: 160px;
    height: 160px;
    text-align: center;
    line-height: 140px;
}

#submit-button {
    width: 95%;
    margin-bottom: 15px;
}

textarea {
    font-style: italic;
    font-family: 'Space Mono', monospace;
    font-size: 290%;
    padding-top: 3px;
    width: 70%;
    height: 70px;
    line-height: 3.5rem;
    margin: 5px;
    text-align: center;
    resize: none;
}

